body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav-shadow{
  box-shadow: lightgray 1px 4px 5px;
}

.home-title{
  font-size: 34pt;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
}

.single-button{
  padding-bottom: 30px;
  padding-top: 50px;
}